{% extends "accounts/base.html" %}


{% block head_block %}

{% endblock %}


{% block body_block %}

<form method="POST">
    {% csrf_token %}
    <div class="row main-panel">
        <div class="card col s12 m12 l8 offset-l2 xl4 offset-xl4 hoverable scale">
            <div class="section center-align">
                <h5>
                    ورود به حساب کاربری
                </h5>
            </div>
            <div class="divider"></div>
            <div class="section">
                <div class="input-field col s12 m12 l6 xl6">
                    {{form.username}}
                    <label for="username">نام کاربری</label>
                </div>
                <div class="input-field col s12 m12 l6 xl6">
                    {{form.password}}
                    <label for="password">کلمه عبور</label>
                </div>
            </div>
            <div class="section">
                <div class="row center-align">
                    <div class="col s10 m4 l4 xl4 offset-s1 push-xl8 push-l8 push-m8" style="padding: 5px 0px">
                        <button class="btn waves-effect waves-light  indigo" type="submit" name="action">
                            ورود
                            <i class="material-icons right">chevron_right</i>
                        </button>
                    </div>
                    <div class="col s10 m4 l4 xl4 offset-s1 pull-xl4 pull-l4 pull-m4" style="padding: 5px 0px">
                        <button class="btn-flat waves-effect">
                            فراموشی کلمه عبور
                        </button>
                    </div>
                    <div class="col s10 m4 l4 xl4 offset-s1 pull-xl4 pull-l4 pull-m4" style="padding: 5px 0px">
                        
                            <a href="{% url "accounts:signup" %}" class="btn-flat waves-effect">ایجاد حساب کاربری</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}