{% extends "accounts/base.html" %}

{% block head_block %}
<title>
    فراموشی کلمه عبور | سامانه جامع استارت آپ
</title>
{% endblock %}

{% block body_block %}

<form method="POST">
    {% csrf_token %}
    <div class="row main-panel">
        <div class="card col s12 m12 l8 offset-l2 xl4 offset-xl4 hoverable scale">
            <div class="section center-align">
                <h5>
                    تغییر کلمه عبور
                </h5>
            </div>
            <div class="divider"></div>
            <div class="section">
                <div class="input-field col s12 m12 l6 xl6">
                    {{form.confirmation_code}}
                    <label for="password">کد تایید</label>
                </div>
                <div class="input-field col s12 m12 l6 xl6">
                    {{form.new_password}}
                    {{form.errors}}
                    <label for="password">کلمه عبور جدید</label>
                </div>
                <div class="input-field col s12 m12 l6 xl6">
                    {{form.new_password_confirm}}
                    <label for="password_r">تکرار کلمه عبور</label>
                </div>
            </div>
            {{error}}
            {{error1}}<br />
            {{error2}}<br />
            {{error3}}<br />
            <div class="col s10 m10 l10 xl10 offset-s1 offset-m1 offset-l1 offset-xl1" style="padding: 5px 0px">
                <button class="btn waves-effect waves-light  indigo" type="submit" name="action" style="width: 100%; margin: 20px;">
                    تغییر کلمه عبور
                    <i class="material-icons right">chevron_right</i>
                </button>
            </div>

        </div>
    </div>
</form>
{% endblock %}
